# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# build files
*.o
*.mod
HOHQMesh
HOHQMesh.exe

# test output files
Benchmarks/MeshFiles/Tests/*
Benchmarks/PlotFiles/Tests/*
Benchmarks/StatsFiles/Tests/*

# gcov files
*.gcda
*.gcno

# lcov report
lcov.info

# release tarballs
HOHQMesh-*.tar.gz

# version information
VERSION
Documentation/docs/.vscode/settings.json

paper.pdf
