name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'AUTHORS.md'
      - 'LICENSE.md'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'AUTHORS.md'
      - 'LICENSE.md'
      - 'README.md'
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
        required: false
        default: false

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: ${{ matrix.os_name }} - ${{ matrix.compiler }} - ${{ matrix.test_type }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Linux
          - os: ubuntu-22.04
            os_name: linux
            compiler: gfortran-9
            shell: bash
            test_type: regular
            coverage: false
          - os: ubuntu-22.04
            os_name: linux
            compiler: gfortran-9
            shell: bash
            test_type: valgrind
            coverage: false
          - os: ubuntu-latest
            os_name: linux
            compiler: gfortran-10
            shell: bash
            test_type: regular
            coverage: true
          - os: ubuntu-latest
            os_name: linux
            compiler: gfortran-10
            shell: bash
            test_type: valgrind
            coverage: false
          - os: ubuntu-22.04
            os_name: linux
            compiler: gfortran-11
            shell: bash
            test_type: regular
            coverage: false
          - os: ubuntu-22.04
            os_name: linux
            compiler: gfortran-11
            shell: bash
            test_type: valgrind
            coverage: false
          # macOS
          - os: macos-latest
            os_name: macos
            compiler: gfortran-10
            shell: bash
            test_type: regular
            coverage: false
          - os: macos-12
            os_name: macos
            compiler: gfortran-11
            shell: bash
            test_type: regular
            coverage: false
          # Windows
          - os: windows-latest
            os_name: windows
            compiler: gfortran
            shell: 'msys2 {0}'
            test_type: regular
            coverage: false
    # Set default shell as suggested here: https://github.community/t/setting-default-shell-or-other-step-metadata-conditionally-in-workflows/154055
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      # - name: Add msbuild to PATH
      #   if: ${{ matrix.os_name == 'windows-latest' }}
      #   uses: microsoft/setup-msbuild@v1.0.2
      - uses: msys2/setup-msys2@v2
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          update: true
          install: git base-devel mingw-w64-x86_64-toolchain
      - name: Bootstrap
        run: |
          ./Utilities/bootstrap
      - name: Show version information
        run: |
          ${{ matrix.compiler }} --version
      - name: Build
        run: |
          make -j 2 FC=${{ matrix.compiler }}
      - name: Run tests
        run: |
          ./HOHQMesh -test
      - name: Run memory checks with Valgrind (only Linux)
        if: ${{ matrix.os_name == 'linux' && matrix.test_type == 'valgrind' }}
        run: |
          sudo apt-get install -y valgrind
          valgrind --error-exitcode=1 -s ./HOHQMesh -test
      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Setup tmate session for debugging
        if: ${{ matrix.os == 'windows-latest' && github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled && always() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 15
      - name: Run tests for coverage
        if: ${{ matrix.coverage }}
        run: |
          sudo apt-get install -y lcov
          FC=${{ matrix.compiler }} ./Utilities/createcoverage
      - uses: codecov/codecov-action@v1
        if: ${{ matrix.coverage }}
        with:
          files: ./lcov.info
          flags: unittests
          name: codecov-umbrella
      - name: Coveralls
        if: ${{ matrix.coverage }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
