name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'AUTHORS.md'
      - 'LICENSE.md'
      - 'README.md'
  pull_request:
    paths-ignore:
      - 'AUTHORS.md'
      - 'LICENSE.md'
      - 'README.md'
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'     
        required: false
        default: false

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            compiler: gfortran-10
            shell: bash
          - os: macos-latest
            compiler: gfortran-10
            shell: bash
          - os: windows-latest
            compiler: gfortran
            shell: 'msys2 {0}'
    # Set default shell as suggested here: https://github.community/t/setting-default-shell-or-other-step-metadata-conditionally-in-workflows/154055
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      # - name: Add msbuild to PATH
      #   if: ${{ matrix.os == 'windows-latest' }}
      #   uses: microsoft/setup-msbuild@v1.0.2
      - uses: msys2/setup-msys2@v2
        if: ${{ matrix.os == 'windows-latest' }}
        with:
          update: true
          # install: git base-devel mingw-w64-x86_64-toolchain
          # Need to use `gcc-fortran` which provides gfortran v11, since the newer mingw toolchain
          # uses gfortran v12 that causes segfaults, see https://github.com/trixi-framework/HOHQMesh/pull/39
          install: git base-devel gcc-fortran
      - name: Bootstrap
        run: |
          ./Utilities/bootstrap
      - name: Show version information
        run: |
          ${{ matrix.compiler }} --version
      - name: Build
        run: |
          make -j 2 FC=${{ matrix.compiler }}
      - name: Run tests
        run: |
          ./HOHQMesh -test
      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      - name: Setup tmate session for debugging
        if: ${{ matrix.os == 'windows-latest' && github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled && always() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 15
      - name: Run tests for coverage
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get install -y lcov
          FC=${{ matrix.compiler }} ./Utilities/createcoverage
      - uses: codecov/codecov-action@v1
        if: ${{ matrix.os == 'ubuntu-latest' }}
        with:
          files: ./lcov.info
          flags: unittests
          name: codecov-umbrella
      - name: Coveralls
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./lcov.info
